<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jorge.app1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Dashboard activity-->
        <activity
            android:name="com.example.jorge.app1.Activities.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--About activity-->
        <activity
            android:name="com.example.jorge.app1.Activities.AboutActivity"
            android:label="@string/activity_about_title"
            android:parentActivityName="com.example.jorge.app1.Activities.DashboardActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jorge.app1.Activities.DashboardActivity"></meta-data>
        </activity>

        <!--Settings activity-->
        <activity
            android:name="com.example.jorge.app1.Activities.SettingsActivity"
            android:label="@string/activity_settings_title"
            android:windowSoftInputMode = "stateAlwaysHidden"
            android:parentActivityName="com.example.jorge.app1.Activities.DashboardActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jorge.app1.Activities.DashboardActivity"></meta-data>
        </activity>

        <!--Favourite activity-->
        <activity
            android:name="com.example.jorge.app1.Activities.FavouriteActivity"
            android:label="@string/activity_favourite_title"
            android:parentActivityName="com.example.jorge.app1.Activities.DashboardActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jorge.app1.Activities.DashboardActivity"></meta-data>
        </activity>

        <!--Quotation activity-->
        <activity
            android:name="com.example.jorge.app1.Activities.QuotationActivity"
            android:label="@string/activity_quotations_title"
            android:parentActivityName="com.example.jorge.app1.Activities.DashboardActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jorge.app1.Activities.DashboardActivity"></meta-data>
        </activity>
    </application>

</manifest>